#menu-print-wrap { height: 100%; width: 100%; background: #fff; color: #000; text-align: left; font-size: 0.9em; }
#menu-print { width: 651px; }
#menu-print hr { width: 611px; margin: 10px 0 10px 10px; }
#menu-print h3 { width: 651px; margin: 0 0 0 10px; padding: 20px 0 0 0; }
#menu-print p { margin: 8px 0 0 10px; }
#menu-print dl { width: 95%; overflow: auto; margin: 10px 0 0 0; background: #fff url('../images/dot.gif') repeat-x 0 1em; } 
#menu-print dt { background: #fff; font-size: 110%; font-weight: bold; }
#menu-print dd.price { background: #fff; font-size: 110%; }
#menu-print dt { float: left; padding: 0 3px 0 10px; color: #000; }
#menu-print dd { margin:0; }
#menu-print dd.price { float: right; padding-left: 3px; color: #000; } 
#menu-print dd.ingredients { float: left; width:80%; padding: 3px 0 10px 10px; font: italic 1em sans-serif; color: #000; }
#menu-print .country { font-style: italic; font-size: 1em; }
#menu-print .small { color: #666; }
#menu-print .large { color: #666; }
