#toc {
	list-style: none;
	margin-bottom: 20px;
	width: 600px;
}
#toc li {
	background: url(dot.gif) repeat-x bottom left;
	overflow: hidden;
	padding-bottom: 2px;
	margin-top:10px;
}
#toc a,
#toc span {
	display: inline-block;
	/*background: #fff;*/
	position: relative;
	bottom: -1px;
}
#toc a {
	float: right;
	padding: 0 0 3px 2px;
}
#toc a:hover {
	text-decoration:none;
}
#toc span {
	float: left;
	padding: 0 2px 3px 2px;
}
#toc em {
	color: #CCC;
	font-size:12px;
	display:block;
}